*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 89vh;
    gap: 70px;
     background-color: oklch(52.7% .154 150.069);
     color: white;
}
.welcome{
   
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    height: 300px;
  
    display: flex;              /* Turn on flexbox */
    flex-direction: column;     /* Stack items vertically */
    justify-content: space-between; /* Push first item to top, last to bottom */
    align-items: flex-start;    /* Align items to the left side */
    
    
}

.logohome img{
   width: 200px;
    height: 200px;
    display: block;
}


.login{
    width: 400px;
    padding: 20px;
    
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: oklch(41.481% 0.11587 149.243);


}
.login h2{
    text-align: center;
    margin-bottom: 20px;
}


.login form{
    display: flex;
    flex-direction: column;
}
.login label{
    margin-bottom: 5px;
    font-weight: bold;
}
.login input[type="text"],
.login input[type="password"]{
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;

}

